{% extends "base.html" %}
{% load static %}
{% load admin_extras%}
{% block extra_css %}
{{ form.media.css }}
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="/">Início</a></li>
    <li><a href="{% url 'cartao_vacina' %}">Meu Cartão de Vacina</a></li>
    <li class="active">Cadastrar</li>
</ol>
{% endblock %}


{% block content %}
<h2 class="page-title">Cadastrar Vacina</h2>

<form id="dados" class="underline-form" action="" method="post">
    {% csrf_token %}

    <div class="panel panel-primary">
        <div class="panel-heading"><h4 class="panel-title">Dados</h4></div>

        <div class="panel-body">
            {% for field in form %}
                {{ field.errors }}

                <div class="form-group">
                    {{ field.label_tag }}

                    {% if field.id_for_label != "id_municipio" %}
                        {{ field|add_css_class:"form-control" }}
                    {% else %}
                        <select name="municipio" id="id_municipio" required="required">
                            {% if estabelecimento %}
                                <option value="{{ estabelecimento.municipio.id }}">
                                    {{ estabelecimento.municipio }}
                                </option>
                            {% endif %}
                            
                            {% if municipio_error %}
                                <option value="{{ municipio_error.id }}">
                                    {{ municipio_error }}
                                </option>
                            {% endif %}
                        </select>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</form>

<button type="submit" form="dados" name="salvar" class="btn btn-success pull-right">
    Salvar Vacina
</button>
<a class="btn btn-default" href="{% url 'cartao_vacina' %}">Cancelar</a>
{% endblock %}


{% block extra_js %}
    {{ form.media.js }}

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

    <script type="text/javascript">
        function setSelect2(element, url) {
            element.select2({
                minimumInputLength: 3,
                ajax: {
                    url: url,
                    dataType: 'json',
                    type: "GET",
                    quietMillis: 150,
                    processResults: function (data) {
                        return {
                            results: data
                        };
                    },
                }
            });
        }

        $(function() {
            setSelect2($("#id_municipio"), "{% url 'buscar_municipio' %}");

            $(".select2").css("width", "100%");
        });
    </script>
{% endblock %}
